{% extends 'base.html' %}

{% block content %}
<h1>Attack Lab — Полигон уязвимостей</h1>

<p>Здесь можно безопасно изучать распространённые уязвимости веб‑приложений.</p>

<ul>
    <li><a href="{% url 'xss_reflected' %}">Reflected XSS Lab</a></li>
    <li><a href="{% url 'sqli_lab' %}">SQL Injection Lab</a></li>
    <li><a href="{% url 'csrf_vulnerable' %}">CSRF Lab</a></li>
    <li><a href="{% url 'upload_lab' %}">File Upload Lab</a></li>
    <li><a href="{% url 'idor_lab' %}">IDOR Lab</a></li>

    <li><a href="/attack-lab/ssrf/">SSRF</a></li>
    <li><a href="/attack-lab/command/">Command Injection</a></li>
    <li><a href="/attack-lab/path-traversal/">Path Traversal</a></li>
    <li><a href="/attack-lab/jwt/">JWT Attack</a></li>
    <li><a href="/attack-lab/auth/">Broken Authentication</a></li>
</ul>
{% endblock %}